/* selector sederhana */
body {
    font-family: Arial, Helvetica, sans-serif;
}

p{
    color: silver;
}


/* selector id */

#judul{
    font-size: 50px;
    color: green;
}

.tes{
    color: green;
    text-decoration: underline;
}