/* text-align */
#left {
    text-align: left;
}

#right  {
    text-align: right;
}

#center{
    text-align: center;
}

#justify{
    text-align: justify;
}

/* text indent */

#text-indent{
    text-indent: 100px;
}

#tanpa-text-indent{
    text-indent: none;
}

/* text decoration */

#none{
    text-decoration: none;
}

#underline{
    text-decoration: underline;
}

#overline{
    text-decoration: overline;
}

#line-through{
    text-decoration: line-through;
}

/* text transform */

#lowercase{
    text-transform: lowercase;
}

#uppercase{
    text-transform: uppercase;
}

#capitalize{
    text-transform: capitalize;
}

/* color */

#color{
    color: aqua;
}

/* latter-spacing */

#letter-spacing{
    letter-spacing: 100px;
}

/* word-spacing */

#word-spacing{
    word-spacing: 1000px;
}